@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --border-color: #b4b4b4;
  --yellow-color: #FBB92F; 
  --yellow-hover-color: #FBC044;
  --orange-color: #EE7918;
  --orange-hover-color: #F0862F;
  --red-color: #E42213;
  --red-hover-color: #E7382B;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
} */

body {
  font-size: 1.25em;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-family);
}

.heroBG {
  background-image: url('../../public/hero/Heroslides/low.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  transition: background-image 0.3s;
  aspect-ratio: 16/9;
}